<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CreditScoreServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://datdb.cphbusiness.dk:8080/CreditBureau/CreditScoreService"
                binding="basicHttpBinding" bindingConfiguration="CreditScoreServicePortBinding"
                contract="CreditScoreReference.CreditScoreService" name="CreditScoreServicePort" />
        </client>
    </system.serviceModel>
</configuration>