<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConsoleApplication1.Properties.Settings>
            <setting name="ConsoleApplication1_dk_cphbusiness_datdb_CreditScoreService"
                serializeAs="String">
                <value>http://datdb.cphbusiness.dk:8080/CreditBureau/CreditScoreService</value>
            </setting>
        </ConsoleApplication1.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CreditScoreServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://datdb.cphbusiness.dk:8080/CreditBureau/CreditScoreService"
                binding="basicHttpBinding" bindingConfiguration="CreditScoreServicePortBinding"
                contract="ServiceReference1.CreditScoreService" name="CreditScoreServicePort" />
        </client>
    </system.serviceModel>
</configuration>